In [38]:
import pandas as pd

vehicle_data_path = "/Users/aniketnamjoshi/Documents/GitHub/FIT5120---Onboarding-project/Datasets/vehicle_data.xls"

df = pd.read_excel(vehicle_data_path, sheet_name="Table_1", header=4)

In [39]:
df

,Unnamed: 0,New South Wales,Victoria,Queensland,South Australia,Western Australia,Tasmania,Northern Territory,Australian Capital Territory,Australia
0,NaN,no.,no.,no.,no.,no.,no.,no.,no.,no.
1,PASSENGER VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,4134786,3666505,2715055,1061776,1583939,316904,95196,240946,13815107
3,2020,4348429,3963818,2919855,1110427,1631779,345929,99311,259701,14679249
4,2021,4404673,3970844,2975229,1131199,1653342,349959,100676,264753,14850675
5,CAMPERVANS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016,15345,13118,14864,4164,8154,4588,223,444,60900
7,2020,19601,15268,18131,5050,8336,5157,189,488,72220
8,2021,20699,15155,18608,5452,8405,5283,211,511,74324
9,LIGHT COMMERCIAL VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016,804665,652020,775864,199058,380403,99346,44419,29817,2985592
11,2020,941140,753341,887239,226726,406009,114299,44762,33500,3407016
12,2021,975509,774389,917546,235666,417115,118901,45502,34829,3519457
13,LIGHT RIGID TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016,48788,31309,35909,7104,17293,3356,623,1044,145426
15,2020,58530,41478,43220,7947,19071,4281,769,1384,176680
16,2021,62567,43883,45628,8267,19987,4543,799,1655,187329
17,HEAVY RIGID TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016,91242,79506,71776,22886,54219,8838,4724,1621,334812
19,2020,101814,88175,76083,22713,54112,9761,4593,1583,358834
20,2021,103743,89747,77569,22874,54718,10042,4647,1649,364989
21,ARTICULATED TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016,21450,26779,20784,8423,15609,1721,1259,160,96185
23,2020,23475,30010,23106,8837,16206,2140,1171,192,105137
24,2021,25358,31254,23541,9021,17086,2245,1221,201,109927
25,NON-FREIGHT CARRYING VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016,2908,6550,5556,1874,5214,965,368,132,23567
27,2020,3490,7466,5444,1863,5056,993,388,141,24841
28,2021,3591,7734,5476,1888,5100,1064,379,146,25378
29,BUSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2016,25939,20302,21455,5691,15362,2818,3964,1051,96582
31,2020,27838,21853,21989,6077,14945,3112,3532,1127,100473
32,2021,26548,20849,21196,6008,15042,3042,3328,1047,97060
33,MOTORCYCLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2016,229296,185248,192942,53724,128619,19093,6941,13102,828965
35,2020,254722,198151,210033,55320,123245,20719,5759,12932,880881
36,2021,269518,203317,218920,57524,123917,21372,5878,13357,913803
37,TOTAL MOTOR VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2016,5374419,4681337,3854205,1364700,2208812,457629,157717,288317,18387136
39,2020,5779039,5119560,4205100,1444960,2278759,506391,160474,311048,19805331
40,2021,5892206,5157172,4303713,1477899,2314712,516451,162641,318148,20142942
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.columns

Index(['Unnamed: 0', 'New South Wales', 'Victoria', 'Queensland',
       'South Australia', 'Western Australia', 'Tasmania',
       'Northern Territory', 'Australian Capital Territory', 'Australia'],
      dtype='object')

In [46]:
df = df.rename(columns={df.columns[0]: 'vehicle_type'})

In [47]:
df

,vehicle_type,New South Wales,Victoria,Queensland,South Australia,Western Australia,Tasmania,Northern Territory,Australian Capital Territory,Australia
0,NaN,no.,no.,no.,no.,no.,no.,no.,no.,no.
1,PASSENGER VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,4134786,3666505,2715055,1061776,1583939,316904,95196,240946,13815107
3,2020,4348429,3963818,2919855,1110427,1631779,345929,99311,259701,14679249
4,2021,4404673,3970844,2975229,1131199,1653342,349959,100676,264753,14850675
5,CAMPERVANS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016,15345,13118,14864,4164,8154,4588,223,444,60900
7,2020,19601,15268,18131,5050,8336,5157,189,488,72220
8,2021,20699,15155,18608,5452,8405,5283,211,511,74324
9,LIGHT COMMERCIAL VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016,804665,652020,775864,199058,380403,99346,44419,29817,2985592
11,2020,941140,753341,887239,226726,406009,114299,44762,33500,3407016
12,2021,975509,774389,917546,235666,417115,118901,45502,34829,3519457
13,LIGHT RIGID TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016,48788,31309,35909,7104,17293,3356,623,1044,145426
15,2020,58530,41478,43220,7947,19071,4281,769,1384,176680
16,2021,62567,43883,45628,8267,19987,4543,799,1655,187329
17,HEAVY RIGID TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016,91242,79506,71776,22886,54219,8838,4724,1621,334812
19,2020,101814,88175,76083,22713,54112,9761,4593,1583,358834
20,2021,103743,89747,77569,22874,54718,10042,4647,1649,364989
21,ARTICULATED TRUCKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016,21450,26779,20784,8423,15609,1721,1259,160,96185
23,2020,23475,30010,23106,8837,16206,2140,1171,192,105137
24,2021,25358,31254,23541,9021,17086,2245,1221,201,109927
25,NON-FREIGHT CARRYING VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016,2908,6550,5556,1874,5214,965,368,132,23567
27,2020,3490,7466,5444,1863,5056,993,388,141,24841
28,2021,3591,7734,5476,1888,5100,1064,379,146,25378
29,BUSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2016,25939,20302,21455,5691,15362,2818,3964,1051,96582
31,2020,27838,21853,21989,6077,14945,3112,3532,1127,100473
32,2021,26548,20849,21196,6008,15042,3042,3328,1047,97060
33,MOTORCYCLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2016,229296,185248,192942,53724,128619,19093,6941,13102,828965
35,2020,254722,198151,210033,55320,123245,20719,5759,12932,880881
36,2021,269518,203317,218920,57524,123917,21372,5878,13357,913803
37,TOTAL MOTOR VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2016,5374419,4681337,3854205,1364700,2208812,457629,157717,288317,18387136
39,2020,5779039,5119560,4205100,1444960,2278759,506391,160474,311048,19805331
40,2021,5892206,5157172,4303713,1477899,2314712,516451,162641,318148,20142942
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df['vehicle_type'] = df['vehicle_type'].ffill()